<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>    
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>   

</head>
<body>
        <div class="panel panel-primary">
                <!-- Default panel contents -->
           <!--     <div class="panel-heading">Spring Boot CRUD 实例练习！2019-04-23</div>
                <div class="panel-body ">
                        <div class="panel panel-info"> 学生信息管理系统。你可以对学生信息进行删除/修改！或<a href="addstudent.html">添加学生消息</a></div>
                </div> -->
            <form method="post" action="/myp/list" class="form-horizontal">
            <div class="form-group">
                <label for="inputName3" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                    <input type="text"  class="form-control" name="username" placeholder="姓名">
                </div>
            </div>


            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password"  class="form-control" name="password" placeholder="密码">
                </div>
            </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <button  type="submit" class="btn btn-success" >登录</button>
                </div>
            </form>
              </div>















</body>
</html>